@keyframes scaleUp {
    0% {
    transform: scale(0.5);
    opacity: 0;
    }
    50% {
    transform: scale(1.5);
    opacity: 1;
    }
    100% {
    transform: scale(1.2);
    opacity: 1;
    }
    }
    
    @keyframes sparkling {
    0% {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00e5e5, 0 0 40px #00e5e5, 0 0 50px #00e5e5, 0 0 60px #00e5e5, 0 0 70px #00e5e5;
    }
    50% {
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00e5e5, 0 0 20px #00e5e5, 0 0 25px #00e5e5, 0 0 30px #00e5e5, 0 0 35px #00e5e5;
    }
    100% {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00e5e5, 0 0 40px #00e5e5, 0 0 50px #00e5e5, 0 0 60px #00e5e5, 0 0 70px #00e5e5;
    }
    }
    
    .victory-message {
    animation: scaleUp 2s ease-in-out forwards, sparkling 1s linear infinite;
    font-size: 3em;
    color: #005867;
    opacity: 0;
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    }
    .win-screen
    {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #32163a;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .win-screen button
    {
        background-color: #16b1bf;
        transition: .2s;
        margin-top: 15%;
    }